body {
  padding: 10px;
  overflow: hidden;
  background-color: rgb(10, 2, 51);
}

main {
  width: 95%;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  background-color: rgb(7, 2, 31);
}

.container-fluid {
  width: 10% !important;
}

.chat {
  height: 82vh;
  background-color: rgb(7, 2, 31);
  border-radius: 15px;
  width: 100%;
  margin: 0 auto;
}

.bot_msg {
  position: relative;
  display: flex; 
  align-items: flex; //ca met en haut 
  width: 100%;
}

// .user_msg .card,


.user_msg img,
.bot_msg img {
  width: 60px; 
  height: auto; 
  margin-right: 10px; 
}

.bot_msg  {
  position: relative;
  min-width: 80%;
  align-self: flex-start; //ça met en haut 
}
.user_msg{
  display: flex;
  justify-content: end;
  align-self:flex-end;
  min-width: 80%;
  // margin-top: 22%;
  }

// .bot_msg .card {
//   align-self: flex-end; 
// }

.bot_msg img {
  margin-right: 0;
  margin-left: 10px; 
}


.btn_parent {
  position: fixed;
  width: 55%;
  display: flex;
  margin: 0 auto;
  // margin-top: 5%;
}

h3 {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.background-bot {
  background-color: rgb(7, 2, 31);
}

.chat_parent{
  overflow-y: auto !important;
  height: 65vh;
}
