body {
  /* padding: 10px; */
  overflow: hidden;
  /* height: 100vh; */
}

main {
  border: 1px solid grey;
  width: 95%;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.container-fluid {
  width: 10% !important;
}