body {
  /* padding: 10px; */
  overflow: hidden;
  /* height: 100vh; */
  // background-color: bl;
}

main {
  border: 1px solid grey;
  width: 95%;
  margin: 0 auto;
  display: grid;
  
}

nav {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.container-fluid {
  width: 10% !important;
}

.chat {
  height: 82vh;
}